.design {
    display: flex;
    flex-direction: column;
    width: 100%;



    &-models {
        margin-top: 20px;


        &-image {
            height: 30px;
            width: 30px;
            margin-right: 40px;
            margin-left: 5px;
        }

    }

    &-tittle {
        display: flex;
        justify-content: space-between;
        padding: 20px;



        &:hover {
            background-color: #dfb9a863;
            cursor: pointer;
        }


    }

}


.design-arrow {
    border: none;
    background-color: none;
}



.collapsed {
    display: none;
}