.design {
    display: block;
    padding: 20px;
    

    &-models {
        display: flex;
        padding-top: 25px;
        
        &-image {
            height: 30px;
            width: 30px;
            margin-right: 40px;
            margin-left: 5px;
        }

    }

    &-tittle {
        display: flex;

        &-arrow {
            margin-left: 5px;
            height: 15px;
            width: 15px;
            padding-top: 5px;
            
        }
        
    }

    

   
    }



