.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dfb9a84b;
    padding: 10px;
    // position: fixed;
    // right: 0;
    // left: 0;
    // bottom: 0;

    &__text {
        font-size: 0.8rem;
    }

    &__image {
        width: 70px;
    }

    &__image img {
        width: 100%;
    }

}