@use "../core/variables" as vars;

.form {
    display: flex;
    flex-direction: column;
    font-family: vars.$main-font;

    @media (min-width: 1024px) {
        flex-direction: row;
    }

    &__fieldsets {
        padding: 20px;
        border: 0;

        @media (min-width: 1024px) {
            width: 50vw;
        }



    }

    &__preview {
        padding: 20px;

        @media (min-width: 1024px) {
            width: 50vw;
            position: sticky;
            top: 0;
        }
    }
}