@use "../core/variables" as vars;

.form {
    display: flex;
    flex-direction: column;
    font-family: vars.$main-font;
    width: 100%;


    @media (min-width: 768px) {
        min-height: 89vh;
    }

    @media (min-width: 1024px) {
        flex-direction: row;
        min-height: 89vh;
    }

    &__fieldsets {
        padding: 20px;
        // display: flex;
        // justify-content: center;
        border: 0;

        @media (min-width: 768px) {}


        @media (min-width: 1024px) {
            width: 50vw;
            justify-content: flex-start;
        }



    }

    &__preview {
        padding: 20px;

        @media (min-width: 1024px) {
            width: 50vw;
            position: sticky;
            top: 0;
        }
    }
}