@use "../core/variables" as vars;

.share {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__section {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: #dfb9a83a;
        border-radius: 27px;


        &:hover {
            background-color: #dfb9a863;
            cursor: pointer;
        }

        @media (min-width: 768px) {
            max-width: 60%;
        }

    }

}

.btn-shareDisplay {
    border: none;
    background-color: none;
}


.shareOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 2rem;


}

.share-btn-createCard {
    background-color: vars.$main-color;
    color: white;
    border: vars.$main-color;
    padding-inline: 18px;
    padding-block: 10px;
    border-radius: 20px;
    font-size: 1.3rem;
    width: 200px;
    text-align: center;

    &:hover {
        background-color: hwb(19 66% 13% / 0.659);
        cursor: pointer;
    }

}

.share-socialMedia {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding-bottom: 1.5rem;
}

.collapsed {
    display: none;
}