
 .share {
     display: flex;
     flex-direction: column;
 }
    

.compartir {
    display: flex;
    align-content: center;
   
}

.iconSare {
    size: 10px;

}

.socialMedia {
    display: flex;
    justify-content: space-around;
}