@use "../core/variables" as vars;

.reset__box {
    text-align: end;
    padding: 30px;
    display: flex;
    justify-content: center;

}

.reset-btn {
    background-color: vars.$main-color;
    padding-inline: 15px;
    padding-block: 8px;
    border-radius: 20px;
    color: white;
    border: none;
    font-family: inherit;

    &:hover {
        background-color: hwb(19 66% 13% / 0.659);
        cursor: pointer;
    }
}

.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-top: 30px;

}

.preview__card {
    width: 300px;
    height: 450px;
    background-color: vars.$main-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgb(62, 116, 141);
    margin-top: 15px;
    margin-bottom: 60px;



}

.card__image {
    width: 175px;
    height: 175px;
    align-content: center;
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 0px 4px 8px rgb(62, 116, 141);
    margin-top: 8px;


    &__src {
        width: 100%;
    }

}



.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.background__model1 {
    background-image: url('./../Images/MODELO\ GLOBOS.png');
    background-size: cover;
}

.background__model2 {
    background-image: url('./../Images/MODELO\ ESPACIAL.png');
    background-size: cover;
}

.background__model3 {
    background-image: url('./../Images/MODELO\ HOJA.png');
    background-size: cover;
}

.title {
    margin-bottom: 40px;
}