<fieldset class="design">
   
   <div class="design-tittle">
      <legend>Elige el modelo que más te guste</legend>
      <img class="design-tittle-arrow" src="../Images/ico-scroll-down.svg" alt="desplegable">
   </div>

   <section class="design-models">
      <input id="model1" type="radio" value="1" name="models">
      <label for="model1"><img class="design-models-image" src="../Images/balloons_3697313.png" alt="imagen1"></label>
         
         
      <input id="model2" type="radio" value="2" name="models">
      <label for="model2"><img class="design-models-image" src="../Images/alien_13740880.png" alt="imagen2"></label>
         
      
   
      <input id="model3" type="radio" value="3" name="models">
      <label for="model3"><img class="design-models-image" src="../Images/monstera-deliciosa_7363764.png" alt="imagen3"></label>     
   </section>

</fieldset>