<fieldset class="fillout">
    <div class="fillout__header">
        <legend class="fillout__legend">Introduce tus datos</legend>
        <i class="fa-solid fa-caret-down fillout__icon" style="color: #dfb9a8;"></i>
    </div>

    <label class="fillout__label" for="name">Nombre</label>
    <input class="fillout__input" id="name" type="text" name="name" placeholder="Nombre">

    <label class="fillout__label" for="age">Edad</label>
    <input class="fillout__input" id="age" type="text" name="age" placeholder="Edad">

    <label class="fillout__label" for="date">Fecha</label>
    <input class="fillout__input" id="date" type="text" name="date" placeholder="Fecha de nacimiento">

    <label class="fillout__label" for="place">Lugar de celebración</label>
    <input class="fillout__input" id="place" type="text" name="place" placeholder="Lugar de celebración">

    <label class="fillout__label" for="phrase">Personaliza tu invitación</label>
    <inputclass="fillout__input" id="phrase" type="text" name="phrase" placeholder="Personaliza tu invitación">

        <label class="fillout__label" for="photo">Sube tu foto</label>
        <input class="fillout__input" id="photo" type="file" name="photo" accept="image/png, image/jpeg" />



</fieldset>