<fieldset class="fillout">
    <div>
        <legend>Introduce tus datos</legend>
        <img src="../Images/ico-scroll-down.svg" alt="Desplegable">
    </div>

    <label for="name">Nombre</label>
    <input id="name" type="text" name="name" placeholder="Nombre">

    <label for="age">Edad</label>
    <input id="age" type="text" name="age" placeholder="Edad">

    <label for="date">Fecha</label>
    <input id="date" type="text" name="date" placeholder="Fecha de nacimiento">

    <label for="place">Lugar de celebración</label>
    <input id="place" type="text" name="place" placeholder="Lugar de celebración">

    <label for="phrase">Personaliza tu invitación</label>
    <input id="phrase" type="text" name="phrase" placeholder="Personaliza tu invitación">

    <label for="photo">Sube tu foto</label>
    <input id="photo" type="file" name="photo" accept="image/png, image/jpeg" />

    <p>QUITAR!!!</p>




    <button class="">Enviar</button>

</fieldset>