<fieldset class="share">
  <div class="share__section">
    <legend>Comparte</legend>
    <!-- <div></div> -->
    <button class="js-btn-shareDisplay">
      <i class="fa-solid fa-caret-down" style="color: #dfb9a8;"></i>
    </button>
  </div>
  <button class="js-btn-create share__btn">Crear invitación</button>
  <p class="js-createdCard"></p>
  <div class="share__socialMedia">
    <i class="fa-solid fa-mobile-screen" style="color: #dfb9a8;"></i>
    <i class="fa-solid fa-envelope" style="color: #dfb9a8;"></i>
    <i class="fa-brands fa-instagram" style="color: #dfb9a8;"></i>
  </div>




</fieldset>