<fieldset class="share">

  <div class="share__section js_collapsable_header js_legend_share">
    <i class="fa-solid fa-share-nodes" style="color: #dfb9a8;"></i>
    <legend>Comparte</legend>
    <i class="fa-solid fa-caret-down btn-shareDisplay" style="color: #dfb9a8;"></i>
  </div>

  <section class="js-shareOptions shareOptions collapsed">
    <button class="js-share-btn-createCard share-btn-createCard js-createCard-btn">Crear invitación</button>

    <div class="divLinks js-divLinks">
      <p class="js-phrase hidden">La tarjeta ha sido creada:</p>
      <a class="js-linkCard hidden linkCard" href="">Link a la tarjeta</a>
      <button class="js-whatsappBtn whatsappBtn hidden">Compartir en WhatsApp</button>
      <a class="twitter-share-button js-twitterBtn hidden" href="https://twitter.com/intent/tweet?text=Hello%20world"
        data-size="large">
        <i class="fa-brands fa-twitter" style="color: #dfb9a8;"></i>Compartir en Twitter
      </a>
    </div>
  </section>
</fieldset>

<!-- <div class="share-socialMedia hidden">
      <i class="fa-solid fa-mobile-screen" style="color: #dfb9a8;"></i>
      <i class="fa-solid fa-envelope" style="color: #dfb9a8;"></i>
      <i class="fa-brands fa-instagram" style="color: #dfb9a8;"></i>
    </div> -->