<fieldset class="share">

  <div class="share__section js_collapsable_header js_legend_share">
    <i class="fa-solid fa-share-nodes" style="color: #dfb9a8;"></i>
    <legend>Comparte</legend>
    <i class="fa-solid fa-caret-down btn-shareDisplay" style="color: #dfb9a8;"></i>
  </div>

  <section class="js-shareOptions shareOptions collapsed">
    <div>
      <button class="js-share-btn-createCard share-btn-createCard js-createCard-btn">Crear invitación</button>

    </div>
    <p class="js-createdCardText">La invitación ha sido creada:</p>
    <a class="js-linkCard hidden" href="https:....">Link a la tarjeta</a>

    <div class="share-socialMedia">
      <i class="fa-solid fa-mobile-screen" style="color: #dfb9a8;"></i>
      <i class="fa-solid fa-envelope" style="color: #dfb9a8;"></i>
      <i class="fa-brands fa-instagram" style="color: #dfb9a8;"></i>
    </div>
  </section>


</fieldset>