<main class="landing">
    <div class="landing__logo">
        <video class="landing__logo__source" src="./Videos/Logo1.mp4" controls preload autoplay muted></video>
    </div>
    <section class="landing__section">
        <p class="landing__section__text">¡Invita a tus amig@s a tu cumpleaños con el diseño que más te guste!</p>
        <div class="landing__section__icons">
            <div>
                <i class="fa-solid fa-palette" style="color: #dfb9a8;"></i>
                <p>Diseña</p>
            </div>
            <div>
                <i class="fa-solid fa-keyboard" style="color: #dfb9a8;"></i>
                <p>Rellena</p>
            </div>
            <div>
                <i class="fa-solid fa-share-nodes" style="color: #dfb9a8;"></i>
                <p>Comparte</p>
            </div>

        </div>
        <a class="landing__section__link" href="./form.html">Comenzar</a>
    </section>

</main>