<section class="preview">
    <h1>¡Te invito a mi cumpleaños!</h1>
    <div class="preview__card">
        <div class="card__image">
            <img src="" alt="Foto">
        </div>
        <ul class="list">
            <li class="js-preview-name">Nombre</li>
            <li class="js-preview-phrase">Frase</li>
            <li class="js-preview-place">Lugar</li>
            <li class="js-preview-date">Fecha</li>
            <li class="js-preview-age">Edad</li>
        </ul>
    </div>


</section>