<div class="reset__box">
    <button class="reset-btn js-reset-btn" type="reset">RESET</button>
</div>
<section class="preview">
    <h1>¡Te invito a mi cumpleaños!</h1>
    <div class="preview__card js-previewCard">
        <div class="card__image">
            <img class="js__profile-preview card__image__src" src="./Images/nina.png" alt="Foto por defecto">
        </div>
        <ul class="list js-preview-list">
            <li class="js-preview-name">Nombre</li>
            <li class="js-preview-phrase">Frase</li>
            <li class="js-preview-place">Lugar</li>
            <li class="js-preview-date">Fecha</li>
            <li class="js-preview-age">Edad</li>
        </ul>
    </div>


</section>